In [63]:
import graphlab
graphlab.canvas.set_target('ipynb')
people = graphlab.SFrame('people_wiki.gl')

# adding word count
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

# compute tf-idf
people['tfidf'] = graphlab.text_analytics.tf_idf(people['word_count'])

In [64]:
# result 1.1
elton = people[people['name']== 'Elton John']
print elton[['word_count']].stack('word_count',new_column_name=['word', 'count']).sort('count', ascending=False)
print elton[['tfidf']].stack('tfidf',new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [65]:
# result 2
victoria = people[people['name']== 'Victoria Beckham']
paul = people[people['name']== 'Paul McCartney']
print graphlab.distances.cosine(elton['tfidf'][0], victoria['tfidf'][0])
print graphlab.distances.cosine(elton['tfidf'][0], paul['tfidf'][0])

0.956700637666
0.825031002922

In [66]:
print victoria[['word_count']].stack('word_count',new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

+---------+-------+
|   word  | tfidf |
+---------+-------+
|   the   |   19  |
|    in   |   12  |
|   and   |   12  |
| beckham |   8   |
|    to   |   6   |
|    of   |   6   |
|    a    |   5   |
|   she   |   5   |
| fashion |   5   |
|   was   |   4   |
+---------+-------+
[175 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [67]:
print paul[['word_count']].stack('word_count',new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

+------+-------+
| word | tfidf |
+------+-------+
| and  |   17  |
|  of  |   15  |
| the  |   14  |
|  in  |   8   |
| has  |   7   |
|  as  |   7   |
| his  |   5   |
| one  |   5   |
|  he  |   5   |
|  a   |   5   |
+------+-------+
[162 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [68]:
# result 3
tfidf_model = graphlab.nearest_neighbors.create(people, features=['tfidf'], label='name',distance='cosine')
word_model = graphlab.nearest_neighbors.create(people, features=['word_count'], label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

In [69]:
# result 3.1
print word_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 27.094ms     |

| Done         |         | 100         | 946.33ms     |

+--------------+---------+-------------+--------------+

+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [70]:
# result 3.2
print tfidf_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 20.256ms     |

| 0            | 45569   | 77.1428     | 1.02s        |

| Done         |         | 100         | 1.31s        |

+--------------+---------+-------------+--------------+

+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [71]:
# result 3.3
print word_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.414ms     |

| Done         |         | 100         | 850.649ms    |

+--------------+---------+-------------+--------------+

+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [72]:
# result 3.4
print tfidf_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 21.64ms      |

| 0            | 46593   | 78.8763     | 1.02s        |

| Done         |         | 100         | 1.28s        |

+--------------+---------+-------------+--------------+

+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]